attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
docopt
Flask
Flask-Cors
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mdurl
nltk
numpy
packaging
pandas
Pillow
pipreqs
protobuf
pyarrow
pydeck
Pygments
Pympler
python-dateutil
pytz
pytz-deprecation-shim
referencing
regex
requests
scikit-learn
scipy
six
smmap
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
yarg
zipp
